build-*/
**/build-*/
Debug/
Release/

*.pro.user
*.pro.user.*
.qmake.stash
Makefile
moc_*.cpp
qrc_*.cpp
ui_*.h
moc_predefs.h

*.o
*.obj
*.exe
*.dll
*.elf
*.hex
*.bin
*.map

*.log
*.tmp
.vscode/
.idea/